.header {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-template-areas: 'infoBlock partiesInfo';
	gap: 15px;
}

.infoBlock {
	grid-area: infoBlock;
	height: 200px;
	border: 2px solid salmon;
}

.partiesInfo {
	grid-area: partiesInfo;
	height: 200px;
	border: 2px solid seagreen;
}
