.container {
	display: grid;
	grid-template-columns: 2fr 10fr;
	gap: 15px;
}

.filter {
	height: 30%;
	border: 2px solid salmon;
}

.blogsList {
	height: 100%;
	border: 2px solid rgb(41, 183, 226);
}
